<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Endless</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Invite</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://paypal.me/artuto">Donate</a>
                </li>
                <% if(identity==='NO')
                { %>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/login">Login</a>
                </li>
                <% }
                else
                { %>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/logout">Logout</a>
                </li>
                <% } %>
            </ul>
            <span class="navbar-text">
                <% if(identity==='NO')
                {%>
                Logged in as <strong><% identity %></strong>.
                <% }
                else
                { %>
                Not logged in.
                <% }%>
            </span>
        </div>
    </nav>
</header>