<!DOCTYPE html>
<html lang="en">
<head>
    <% include templates/head.ejs %>
    <title>Endless - Home</title>
</head>
<body>
<% include templates/header.ejs %>

HI

<div class="alert alert-dismissible alert-warning"> <button type="button" class="close" data-dismiss="alert">&times;</button> <h4 class="alert-heading">Warning!</h4> <p class="mb-0">This website is WIP and might have a lot of problems, if you found any please report it to me (Artuto#0424)</a>.</p> </div>
</body>
</html>